<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="{{url_for('Summarize')}}" method="post">
       <!-- when we provide data from front-end to backend so name is required to be given -->
       <textarea name="data" cols="30" rows="10" placeholder="Enter your Data" required = "required"></textarea>
       <input type="range" min="20" max="1000" value="100" name = "maxL"> 
       <button type="reset">Clear</button>
       <button type="submit">Submit</button>
    </form>

    <h3>Summarized Text</h3>

    <textarea name="result" cols="30" rows="10">{{result}}</textarea>

</body>
</html>